body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.container {
    display: inline-block;
    text-align: center;
    line-height: 0.9em;
    font-family: monospace;
    font-size: 14px;
}
